<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-gradient-dark shadow-sm py-0 mb-3 mb-md-4 mb-xl-5">
  <div id="navbar-container" class="container">
  <a class="navbar-brand" href={{ "/" | relURL}}>
    <img src={{ "/images/acl-logo.svg" | relURL}} width=56 alt="ACL Logo">
    <span class="d-none d-md-inline pl-md-2">ACL 2022 D&I Special Initiative</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={{ relref . "/" }}>Papers<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ relref . "/terms" }}>Terminology<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ relref . "/" }}>Videos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ relref . "/info/corrections.md" }}>Corrections<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ relref . "/info/credits.md" }}>Credits<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ relref . "/faq" }}>FAQ<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action={{"/search/?" | relURL}} method=get>
      <input id=acl-search-box class="form-control mr-sm-2" name=q type=search placeholder=Search... aria-label=Search>
      <button class="btn btn-outline-secondary" type=submit><i class="fas fa-search"></i></button>
    </form>
  </div>
</div></nav>
