{{ define "javascript" }}
<script>

    let lang_codes = ["zh", "fa", "bg", "hr", "tr", "ga", "de", "ja", "pt", "ko", "ru", "sw", "nl", "hi", "id", "da"];
    let languages = ["Chinese", "Persian", "Bulgarian", "Croatian", "Turkish", "Irish", "German", "Japanese", "Portuguese", "Korean", "Russian", "Swahili", "Flemish", "Hindi", "Indonesian", "Danish"];

    $( document ).ready(function() {
        let lang_select = document.getElementById("lang_select");
        lang_select.innerHTML += "<option value='' disabled selected>Choose Language</option>"
        for(let idx in languages){
            let lang = languages[idx];
            let code = lang_codes[idx];
            lang_select.innerHTML += `<option value="${code}">${lang}</option>`;
        }
    });

    $('#lang_select').on('change', function() {
        hide_all()
        for(let x in lang_codes){
            let code = lang_codes[x];
            if(this.value == code){
                console.log(code);
                $("."+code+"_term").show(); 
                $("."+code+"_example").show();
            }
        }
    });

    function hide_all(){
        for (let x in lang_codes){
            let code = lang_codes[x];
            $("."+code+"_term").hide(); 
            $("."+code+"_example").hide();
        }
    }

    function clearSearch(){
        document.getElementById('lang_query').value = "";
        filterTerms();
    }
    
    function filterTerms(){
        let query = document.getElementById('lang_query').value;
        var table = document.getElementById('term_content');
        let flag = query.trim() == '';
        for (var i = 1, row; row = table.rows[i]; i+=6) {
            let text = row.cells[0].innerHTML;
            if(flag && row.style.display == 'none'){
                for(var j = i; j<6+i; j++){
                    table.rows[j].style.display = '';
                }
            }else if(!text.includes(query)){
                for(var j = i; j<6+i; j++){
                    table.rows[j].style.display = 'none';
                }
            }
        }
    }

    $("#lang_query").on('keyup', function (event) {
      if (event.keyCode === 13) {
         filterTerms();
      }
   });


</script>
{{ end }}

{{ define "main" }}
<main aria-role="main">
  <h1 id="title">
    {{ .Title }}
  </h1>
  {{ with .Params.subtitle }}
  <p class="lead text-muted">{{ . }}</p>
  {{ end }}
  <hr />

  <div class="input-group" style="padding:20px">
    <div class="form-outline">
        <div style="float:right;" class="form-group">
            <!-- <label>Choose a Language:</label> -->
            <select name="lang_select" id="lang_select" class="form-control"></select>
        </div>
      <input type="search" id="lang_query" class="form-control" placeholder="Search..." style="display:inline-block; width:30%"/>
        <button type="button" onclick="filterTerms()" class="btn btn-primary">Search
        <i class="fas fa-search"></i>
        </button>
        <button type="button" onclick="clearSearch()" class="btn btn-danger">Clear</button>
    </div>
  </div>

  <table class="table table-striped" style="inline-size: 100%; overflow-wrap: break-word;" id="term_content">
    <thead>
        <tr>
            <th scope="col"> Term </th>
            <th scope="col"> Source Examples </th>
            <th scope="col"> Target Examples </th>
        </tr>
    </thead>
    <tbody>
        {{ range .Site.Data.terms }}
            <tr>
                {{ if eq .wiki ""}}
                    <td rowspan="6"> 
                        {{ .term }} 
                        <hr>
                        <div class='zh_term'> {{ .zh_term }} </div>
                        <div class='fa_term' style='display:none;'> {{ .fa_term }} </div>
                        <div class='bg_term' style='display:none;'> {{ .bg_term }} </div>
                        <div class='hr_term' style='display:none;'> {{ .hr_term }} </div>
                        <div class='tr_term' style='display:none;'> {{ .tr_term }} </div>
                        <div class='ga_term' style='display:none;'> {{ .ga_term }} </div>
                        <div class='de_term' style='display:none;'> {{ .de_term }} </div>
                        <div class='ja_term' style='display:none;'> {{ .ja_term }} </div>
                        <div class='pt_term' style='display:none;'> {{ .pt_term }} </div>
                        <div class='ko_term' style='display:none;'> {{ .ko_term }} </div>
                        <div class='ru_term' style='display:none;'> {{ .ru_term }} </div>
                        <div class='sw_term' style='display:none;'> {{ .sw_term }} </div>
                        <div class='nl_term' style='display:none;'> {{ .nl_term }} </div>
                        <div class='hi_term' style='display:none;'> {{ .hi_term }} </div>
                        <div class='id_term' style='display:none;'> {{ .id_term }} </div>
                        <div class='da_term' style='display:none;'> {{ .da_term }} </div>
                        <hr>
                        <div>Frequency: {{ .frequency }}</div>
                    </td>
                {{else}}
                    <td rowspan="6"> 
                        <a href="{{.wiki}}"> {{ .term }} </a> 
                        <hr>
                        <div class='zh_term'> {{ .zh_term }} </div>
                        <div class='fa_term' style='display:none;'> {{ .fa_term }} </div>
                        <div class='bg_term' style='display:none;'> {{ .bg_term }} </div>
                        <div class='hr_term' style='display:none;'> {{ .hr_term }} </div>
                        <div class='tr_term' style='display:none;'> {{ .tr_term }} </div>
                        <div class='ga_term' style='display:none;'> {{ .ga_term }} </div>
                        <div class='de_term' style='display:none;'> {{ .de_term }} </div>
                        <div class='ja_term' style='display:none;'> {{ .ja_term }} </div>
                        <div class='pt_term' style='display:none;'> {{ .pt_term }} </div>
                        <div class='ko_term' style='display:none;'> {{ .ko_term }} </div>
                        <div class='ru_term' style='display:none;'> {{ .ru_term }} </div>
                        <div class='sw_term' style='display:none;'> {{ .sw_term }} </div>
                        <div class='nl_term' style='display:none;'> {{ .nl_term }} </div>
                        <div class='hi_term' style='display:none;'> {{ .hi_term }} </div>
                        <div class='id_term' style='display:none;'> {{ .id_term }} </div>
                        <div class='da_term' style='display:none;'> {{ .da_term }} </div>
                        <hr>
                        <div>Frequency: {{ .frequency }}</div>
                    </td>
                {{end}}
            </tr>
            {{ range .sentences}}
            <tr>
                <td> 
                    {{ $abs_id := index (split .id ":") 0}}
                    <a href="https://aclanthology.org/{{ $abs_id }}/">{{ $abs_id }}</a>
                    <br>
                    {{ .sentence }} 
                </td>
                <td class='zh_example'> {{ .zh_sentence }} </td>
                <td class='fa_example' style="display: none;"> {{ .fa_sentence }} </td>
                <td class='bg_example' style="display: none;"> {{ .bg_sentence }} </td>
                <td class='hr_example' style="display: none;"> {{ .hr_sentence }} </td>
                <td class='tr_example' style="display: none;"> {{ .tr_sentence }} </td>
                <td class='ga_example' style="display: none;"> {{ .ga_sentence }} </td>
                <td class='de_example' style="display: none;"> {{ .de_sentence }} </td>
                <td class='ja_example' style="display: none;"> {{ .ja_sentence }} </td>
                <td class='pt_example' style="display: none;"> {{ .pt_sentence }} </td>
                <td class='ko_example' style="display: none;"> {{ .ko_sentence }} </td>
                <td class='ru_example' style="display: none;"> {{ .ru_sentence }} </td>
                <td class='sw_example' style="display: none;"> {{ .sw_sentence }} </td>
                <td class='nl_example' style="display: none;"> {{ .nl_sentence }} </td>
                <td class='hi_example' style="display: none;"> {{ .hi_sentence }} </td>
                <td class='id_example' style="display: none;"> {{ .id_sentence }} </td>
                <td class='da_example' style="display: none;"> {{ .da_sentence }} </td>
            {{end}}
            </tr>
        {{ end }}
    </tbody>
  </table>
</main>
{{ end }}
